.u-section-1 .u-sheet-1 {min-height: 97px}
.u-section-1 .u-layout-wrap-1 {width: 613px; margin: 13px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 88px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-1 {height: 36px; width: 36px; margin: 15px auto 0}
.u-section-1 .u-text-1 {font-size: 0.625rem; line-height: 16px; margin: 5px 1px 0}
.u-section-1 .u-layout-cell-2 {min-height: 88px}
.u-section-1 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-2 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-2 {line-height: 16px; background-image: none; font-size: 0.75rem; margin: 7px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 88px}
.u-section-1 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-3 {height: 36px; width: 36px; margin: 13px auto 0}
.u-section-1 .u-text-3 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0}
.u-section-1 .u-layout-cell-4 {min-height: 88px}
.u-section-1 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-4 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-4 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0}
.u-section-1 .u-layout-cell-5 {min-height: 88px}
.u-section-1 .u-container-layout-5 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-5 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-5 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 99px}
.u-section-1 .u-layout-cell-1 {min-height: 81px}
.u-section-1 .u-image-1 {width: 114px; position: relative; margin-top: 0}
.u-section-1 .u-layout-cell-2 {min-height: 81px}
.u-section-1 .u-image-2 {width: 114px; position: relative}
.u-section-1 .u-text-2 {font-size: 0.625rem}
.u-section-1 .u-layout-cell-3 {min-height: 81px}
.u-section-1 .u-image-3 {margin-top: 11px}
.u-section-1 .u-text-3 {width: 92px; margin-top: 3px; margin-left: auto; margin-right: auto}
.u-section-1 .u-layout-cell-4 {min-height: 81px}
.u-section-1 .u-image-4 {margin-top: 11px}
.u-section-1 .u-text-4 {width: 92px; margin-top: 3px; margin-right: 12px; margin-left: 12px}
.u-section-1 .u-layout-cell-5 {min-height: 81px}
.u-section-1 .u-image-5 {margin-top: 7px}
.u-section-1 .u-text-5 {width: 92px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 160px}
.u-section-1 .u-layout-wrap-1 {width: 300px; margin-top: 1px; margin-bottom: 1px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {width: 87px; margin-top: 21px}
.u-section-1 .u-text-1 {margin-top: 6px; margin-left: 7px; margin-right: 7px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-2 {width: 87px; margin-top: 19px}
.u-section-1 .u-text-2 {width: auto; margin-top: 8px; margin-right: 1px; margin-left: -1px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-3 {margin-top: 20px}
.u-section-1 .u-text-3 {width: auto; margin-top: 5px; margin-right: 2px; margin-left: 4px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-image-4 {margin-top: 20px}
.u-section-1 .u-text-4 {width: auto; margin-top: 4px; margin-right: 24px; margin-left: 32px}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-container-layout-5 {padding-top: 0; padding-bottom: 0}
.u-section-1 .u-image-5 {margin-top: 20px}
.u-section-1 .u-text-5 {width: auto; margin-top: 4px; margin-right: 25px; margin-left: 31px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 449px}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-image-1 {width: 82px}
.u-section-1 .u-text-1 {margin-left: 20px}
.u-section-1 .u-image-2 {width: 82px}
.u-section-1 .u-text-2 {width: 122px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-3 {margin-left: auto; margin-right: auto}
.u-section-1 .u-text-4 {margin-left: auto; margin-right: auto}
.u-section-1 .u-text-5 {margin-left: auto; margin-right: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 270px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {margin-top: 8px; margin-left: 0}
.u-section-1 .u-text-1 {font-size: 1rem; line-height: 1.6; margin-top: -30px; margin-right: 20px}
.u-section-1 .u-image-2 {margin-top: 6px; margin-left: 0}
.u-section-1 .u-text-2 {font-size: 1rem; line-height: 1.6; margin-top: -29px}
.u-section-1 .u-image-3 {margin-top: 5px; margin-left: 20px}
.u-section-1 .u-text-3 {font-size: 1rem; line-height: 1.6; margin-top: -31px; margin-right: 19px; margin-left: 21px}
.u-section-1 .u-image-4 {margin-top: 9px; margin-left: 20px}
.u-section-1 .u-text-4 {font-size: 1rem; line-height: 1.6; margin-top: -35px; margin-right: 19px; margin-left: 21px}
.u-section-1 .u-image-5 {margin-top: 8px; margin-left: 20px}
.u-section-1 .u-text-5 {font-size: 1rem; line-height: 1.6; margin-top: -30px; margin-right: 21px; margin-left: 19px} }
.u-section-2 {background-image: url("images/bkg23.jpg"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 634px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 523px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 401px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 301px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 287px} }.u-section-3 .u-sheet-1 {min-height: 105px}
.u-section-3 .u-text-1 {font-size: 2.25rem; margin: 48px auto 2px} 

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 93px}
.u-section-3 .u-text-1 {margin-bottom: 18px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-layout-wrap-1 {margin-top: 20px; margin-bottom: 0}
.u-section-4 .u-layout-cell-1 {min-height: 449px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-image-1 {width: 249px}
.u-section-4 .u-layout-cell-2 {min-height: 449px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-2 {width: 249px; left: 66px; right: auto}
.u-section-4 .u-layout-cell-3 {min-height: 449px}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-image-3 {width: 249px; left: 66px; right: auto}
.u-section-4 .u-layout-wrap-2 {margin: 20px 0 0}
.u-section-4 .u-layout-cell-4 {min-height: 449px}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-image-4 {width: 249px}
.u-section-4 .u-layout-cell-5 {min-height: 449px}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-image-5 {width: 249px; left: 66px; right: auto}
.u-section-4 .u-layout-cell-6 {min-height: 449px}
.u-section-4 .u-container-layout-6 {padding: 30px}
.u-section-4 .u-image-6 {width: 249px; left: 66px; right: auto} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 430px}
.u-section-4 .u-layout-wrap-1 {position: relative}
.u-section-4 .u-layout-cell-1 {min-height: 370px}
.u-section-4 .u-layout-cell-2 {min-height: 370px}
.u-section-4 .u-layout-cell-3 {min-height: 370px}
.u-section-4 .u-layout-wrap-2 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-4 {min-height: 370px}
.u-section-4 .u-layout-cell-5 {min-height: 370px}
.u-section-4 .u-layout-cell-6 {min-height: 370px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 353px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-layout-cell-5 {min-height: 100px}
.u-section-4 .u-layout-cell-6 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1238px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 816px}
.u-section-4 .u-layout-wrap-1 {margin-top: 0} }.u-section-5 .u-sheet-1 {min-height: 109px}
.u-section-5 .u-text-1 {margin: 35px auto}.u-section-6 {background-image: url("images/grayback.jpg"); background-size: auto; background-repeat: repeat;}
.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-text-1 {font-size: 2.25rem; width: 331px; margin: 40px auto 0}
.u-section-6 .u-text-2 {margin: 20px auto 0}
.u-section-6 .u-text-3 {font-size: 1.5rem; margin: 64px auto 0 auto}
.u-section-6 .u-text-4 {font-size: 1.5rem; margin: 54px auto 60px auto} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 412px}
.u-section-6 .u-text-3 {width: auto; margin-top: 33px; margin-left: 152px}
.u-section-6 .u-text-4 {width: auto; margin-top: 52px; margin-left: 152px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 316px}
.u-section-6 .u-text-2 {margin-top: 8px; margin-left: 0; margin-right: 0}
.u-section-6 .u-text-3 {margin-top: 16px; margin-left: 52px; font-size: 20px !Important;}
.u-section-6 .u-text-4 {margin-top: 23px; margin-left: 52px; font-size: 20px !Important;} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 237px}
.u-section-6 .u-text-3 {margin-right: 55px; margin-left: auto}
.u-section-6 .u-text-4 {margin-right: 55px; margin-left: auto} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 149px}
.u-section-6 .u-text-3 {margin-top: 15px; margin-right: auto; margin-left: 0px}
.u-section-6 .u-text-4 {margin-top: 20px; margin-right: auto; margin-left: 0} }.u-section-7 .u-sheet-1 {min-height: 790px}
.u-section-7 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-7 .u-image-1 {min-height: 391px; background-image: url("images/lADPGp4a6xe7tFbNBDjNBaA_1440_1080.jpg"); background-position: 50% 0%}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-image-2 {min-height: 289px; background-image: url("images/ScreenShot2020-08-17at7.07.36AM.png"); background-position: 50% 50%}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-image-3 {min-height: 227px; background-image: url("images/ScreenShot2020-08-17at7.06.32AM.png"); background-position: 50% 50%}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-image-4 {min-height: 453px; background-image: url("images/lADPGoGu9fF7LS_NA8DNBQA_1280_960.jpg"); background-position: 0% 50%}
.u-section-7 .u-container-layout-4 {padding: 30px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 552px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {min-height: 322px}
.u-section-7 .u-image-2 {min-height: 238px}
.u-section-7 .u-image-3 {min-height: 187px}
.u-section-7 .u-image-4 {min-height: 374px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 1709px}
.u-section-7 .u-image-1 {min-height: 400px}
.u-section-7 .u-image-2 {min-height: 296px}
.u-section-7 .u-image-3 {min-height: 374px}
.u-section-7 .u-image-4 {min-height: 747px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1281px}
.u-section-7 .u-image-1 {min-height: 300px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-2 {min-height: 222px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-3 {min-height: 281px}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-4 {min-height: 560px}
.u-section-7 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 803px}
.u-section-7 .u-image-1 {min-height: 189px}
.u-section-7 .u-image-2 {min-height: 140px}
.u-section-7 .u-image-3 {min-height: 177px}
.u-section-7 .u-image-4 {min-height: 353px} }.imgtmp {
background-color: #dfd;
}
.u-section-3 .u-sheet-1 {min-height: 0px}
@media (max-width: 1199px) {
.u-section-2 {height: 450px !important; }
}
@media (max-width: 991px) {
.u-section-2 {height: 400px !important;}
}
@media (max-width: 870px) {
    .u-section-2 {height: 300px !important;}
}
@media (max-width: 675px) {
    .u-section-2 {height: 250px !important;}
}
@media (max-width: 525px) {
    .u-section-2 {height: 200px !important;}
}
.u-section-14 {display: none;}
@media (max-width: 991px) {
    .u-section-4 {display: none !important;}
    .u-section-14 {display: block !important;}    
    .u-section-4 .u-image {
        height: auto !important;
        position: relative !important;
        left: 0 !important; transform: none !important;
        width: 100% !important;
    }
    .gridtable {
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-top: 20px;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
        display: grid;
        grid-row-gap: 20px;
    }
    #sec-ee4e {
        margin-bottom: 0px !important;
    }
}
.u-section-6 .u-text-1 {width: 100% !Important}
@media (max-width: 621px) {
    .gridtable {
        grid-template-columns: 47.5% 47.5%;
    }
}
@media (max-width: 720px) {
    .u-section-6 .u-text {width: 100% !important;}
}
@media (max-width: 620px) {
    .u-section-6 .u-text-3, .u-section-6 .u-text-4 {font-size: 17px !important; padding-left: 40px;}
}
@media (max-width: 767px) {
    #sec-9ca0 .u-sheet-1{ width: calc(100% - 70px) !Important; }
}