.u-section-1 .u-sheet-1 {min-height: 97px}
.u-section-1 .u-layout-wrap-1 {width: 613px; margin: 13px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 88px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-1 {height: 36px; width: 36px; margin: 0px auto 0}
.u-section-1 .u-text-1 {font-size: 0.625rem; line-height: 16px; margin: 5px 1px 0}
.u-section-1 .u-layout-cell-2 {min-height: 88px}
.u-section-1 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-2 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-2 {line-height: 16px; background-image: none; font-size: 0.75rem; margin: 7px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 88px}
.u-section-1 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-3 {height: 36px; width: 36px; margin: 0px auto 0}
.u-section-1 .u-text-3 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0}
.u-section-1 .u-layout-cell-4 {min-height: 88px}
.u-section-1 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-4 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-4 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0}
.u-section-1 .u-layout-cell-5 {min-height: 88px}
.u-section-1 .u-container-layout-5 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-5 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-5 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 99px}
.u-section-1 .u-layout-cell-1 {min-height: 81px}
.u-section-1 .u-image-1 {width: 114px; position: relative; margin-top: 0}
.u-section-1 .u-layout-cell-2 {min-height: 81px}
.u-section-1 .u-image-2 {width: 114px; position: relative}
.u-section-1 .u-text-2 {font-size: 0.625rem}
.u-section-1 .u-layout-cell-3 {min-height: 81px}
.u-section-1 .u-image-3 {margin-top: 11px}
.u-section-1 .u-text-3 {width: 92px; margin-top: 3px; margin-left: auto; margin-right: auto}
.u-section-1 .u-layout-cell-4 {min-height: 81px}
.u-section-1 .u-image-4 {margin-top: 11px}
.u-section-1 .u-text-4 {width: 92px; margin-top: 3px; margin-right: 12px; margin-left: 12px}
.u-section-1 .u-layout-cell-5 {min-height: 81px}
.u-section-1 .u-image-5 {margin-top: 7px}
.u-section-1 .u-text-5 {width: 92px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 160px}
.u-section-1 .u-layout-wrap-1 {width: 300px; margin-top: 1px; margin-bottom: 1px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {width: 87px; margin-top: 21px}
.u-section-1 .u-text-1 {margin-top: 6px; margin-left: 7px; margin-right: 7px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-2 {width: 87px; margin-top: 19px}
.u-section-1 .u-text-2 {width: auto; margin-top: 8px; margin-right: 1px; margin-left: -1px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-3 {margin-top: 20px}
.u-section-1 .u-text-3 {width: auto; margin-top: 5px; margin-right: 2px; margin-left: 4px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-image-4 {margin-top: 20px}
.u-section-1 .u-text-4 {width: auto; margin-top: 4px; margin-right: 24px; margin-left: 32px}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-container-layout-5 {padding-top: 0; padding-bottom: 0}
.u-section-1 .u-image-5 {margin-top: 20px}
.u-section-1 .u-text-5 {width: auto; margin-top: 4px; margin-right: 25px; margin-left: 31px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 449px}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-image-1 {width: 82px}
.u-section-1 .u-text-1 {margin-left: 20px}
.u-section-1 .u-image-2 {width: 82px}
.u-section-1 .u-text-2 {width: 122px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-3 {margin-left: auto; margin-right: auto}
.u-section-1 .u-text-4 {margin-left: auto; margin-right: auto}
.u-section-1 .u-text-5 {margin-left: auto; margin-right: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 270px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {margin-top: 8px; margin-left: 0}
.u-section-1 .u-text-1 {font-size: 1rem; line-height: 1.6; margin-top: -30px; margin-right: 20px}
.u-section-1 .u-image-2 {margin-top: 6px; margin-left: 0}
.u-section-1 .u-text-2 {font-size: 1rem; line-height: 1.6; margin-top: -29px}
.u-section-1 .u-image-3 {margin-top: 5px; margin-left: 20px}
.u-section-1 .u-text-3 {font-size: 1rem; line-height: 1.6; margin-top: -31px; margin-right: 19px; margin-left: 21px}
.u-section-1 .u-image-4 {margin-top: 9px; margin-left: 20px}
.u-section-1 .u-text-4 {font-size: 1rem; line-height: 1.6; margin-top: -35px; margin-right: 19px; margin-left: 21px}
.u-section-1 .u-image-5 {margin-top: 8px; margin-left: 20px}
.u-section-1 .u-text-5 {font-size: 1rem; line-height: 1.6; margin-top: -30px; margin-right: 21px; margin-left: 19px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 0}
.u-section-2 .u-layout-cell-1 {min-height: 488px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin: 29px auto 0 100px}
.u-section-2 .u-layout-cell-2 {min-height: 488px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-1 {width: 324px; height: 460px; margin: -23px auto -9px auto} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-layout-cell-1 {min-height: 402px}
.u-section-2 .u-layout-cell-2 {min-height: 402px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-1 {width: 300px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-1 {width: 100%; object-fit: contain; height: 426px; margin-left: 0; margin-right: 0} 
.cert-image { padding-left: 0px !important; padding-right: 0px !important; }
}

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 439px} }.u-section-3 .u-sheet-1 {min-height: 196px}
.u-section-3 .u-text-1 {font-size: 1.25rem; margin: 18px 0}.u-section-4 .u-sheet-1 {min-height: 355px}
.u-section-4 .u-image-1 {height: 354px; margin: 1px auto 1px 0} 

@media (max-width: 1199px){ .u-section-4 .u-image-1 {margin-right: initial; margin-left: initial} }.u-section-5 .u-sheet-1 {min-height: 118px}
.u-section-5 .u-text-1 {width: 100%; margin: 46px auto} 

@media (max-width: 575px){ .u-section-5 .u-text-1 {width: 100%} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 0}
.u-section-6 .u-layout-cell-1 {min-height: 305px}
.u-section-6 .u-container-layout-1 {padding: 30px 30px 0}
.u-section-6 .u-image-1 {height: 232px; margin: 0 auto 0 0}
.u-section-6 .u-text-1 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-6 .u-layout-cell-2 {min-height: 305px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-image-2 {height: 232px; margin: 0 auto 0 0}
.u-section-6 .u-text-2 {width: 58px; height: 25px; margin: 18px auto 0}
.u-section-6 .u-layout-cell-3 {min-height: 305px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-image-3 {height: 232px; margin: 0 auto 0 0}
.u-section-6 .u-text-3 {width: 58px; height: 25px; margin: 18px auto 0}
.u-section-6 .u-layout-wrap-2 {margin: 0 auto 0 0}
.u-section-6 .u-layout-cell-4 {min-height: 305px}
.u-section-6 .u-container-layout-4 {padding: 30px}
.u-section-6 .u-image-4 {height: 232px; margin: 0 auto 0 0}
.u-section-6 .u-text-4 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-6 .u-layout-cell-5 {min-height: 305px}
.u-section-6 .u-container-layout-5 {padding: 30px}
.u-section-6 .u-image-5 {height: 232px; margin: 0 auto 0 0}
.u-section-6 .u-text-5 {width: 58px; height: 25px; margin: 18px auto 0}
.u-section-6 .u-layout-cell-6 {min-height: 305px}
.u-section-6 .u-container-layout-6 {padding: 30px}
.u-section-6 .u-image-6 {height: 232px; margin: 0 auto 0 0}
.u-section-6 .u-text-6 {width: 58px; height: 25px; margin: 18px auto 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 430px}
.u-section-6 .u-layout-wrap-1 {position: relative}
.u-section-6 .u-layout-cell-1 {min-height: 251px}
.u-section-6 .u-image-1 {height: 183px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 251px}
.u-section-6 .u-image-2 {height: 183px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-3 {min-height: 251px}
.u-section-6 .u-image-3 {height: 183px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-wrap-2 {position: relative; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-4 {min-height: 251px}
.u-section-6 .u-image-4 {height: 183px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-5 {min-height: 251px}
.u-section-6 .u-image-5 {height: 183px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-6 {min-height: 251px}
.u-section-6 .u-image-6 {height: 183px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 353px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-image-1 {height: 130px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-image-2 {height: 130px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-image-3 {height: 130px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-4 {min-height: 100px}
.u-section-6 .u-image-4 {height: 130px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-5 {min-height: 100px}
.u-section-6 .u-image-5 {height: 130px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-6 {min-height: 100px}
.u-section-6 .u-image-6 {height: 130px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 1238px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {height: 200px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {height: 200px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-3 {height: 200px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-4 {height: 200px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-5 {height: 200px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1, .u-section-3 .u-text-1 {font-size: 24px !important;}
div.grid-3 > div { width: 48% !important; max-width: 48% !important;flex:0 0 48% !important;}
div.grid-3 > * { min-width: 0px !important}
.u-section-6 .u-image-6 {height: 200px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 16px}
.u-section-6 .u-image {height: 140px !important;}
.u-section-6 .u-image-1 {height: 231px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1, .u-section-3 .u-text-1 {font-size: 16px !important; line-height: 28px}
.u-section-6 .u-image-2 {height: 231px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {height: 200px}
.u-section-4 .u-sheet-1 {min-height: 0px}
.u-section-6 .u-image-3 {height: 231px; margin-right: initial; margin-left: initial}
.u-section-6 .u-image-4 {height: 231px; margin-right: initial; margin-left: initial}
.u-section-6 .u-image-5 {height: 231px; margin-right: initial; margin-left: initial}
.u-section-6 .u-image-6 {height: 231px; margin-right: initial; margin-left: initial} }.imgtmp {
background-color: #dfd;
}
@media(max-width: 400px) {
.u-section-6 .u-image {height: 100px !important;}
}
@media (max-width: 1199px) {
    .cert-text-area {padding-left: 0px !important}
    .cert-text {margin-left: 0px !Important;}
     
}
@media (max-width: 1199px) {    
    .u-section-2 .u-text-1 { width: 100% !important}
}
#sec-0f1f {
    width: 100%;
}
.u-sheet-1 {
    width: calc(100% - 60px) !Important; max-width: 1500px !important;
}
.u-section-2 .u-text-1, .u-section-3 .u-text-1 {text-align: justify;}