.u-section-1 .u-sheet-1 {min-height: 97px}
.u-section-1 .u-layout-wrap-1 {width: 613px; margin: 13px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 88px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-1 {height: 36px; width: 36px; margin: 15px auto 0}
.u-section-1 .u-text-1 {font-size: 0.625rem; line-height: 16px; margin: 5px 1px 0}
.u-section-1 .u-layout-cell-2 {min-height: 88px}
.u-section-1 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-2 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-2 {line-height: 16px; background-image: none; font-size: 0.75rem; margin: 7px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 88px}
.u-section-1 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-3 {height: 36px; width: 36px; margin: 13px auto 0}
.u-section-1 .u-text-3 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0}
.u-section-1 .u-layout-cell-4 {min-height: 88px}
.u-section-1 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-4 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-4 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0}
.u-section-1 .u-layout-cell-5 {min-height: 88px}
.u-section-1 .u-container-layout-5 {padding-left: 0; padding-right: 0}
.u-section-1 .u-image-5 {height: 36px; width: 36px; margin: 0 auto}
.u-section-1 .u-text-5 {font-size: 0.625rem; line-height: 16px; margin: 7px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 99px}
.u-section-1 .u-layout-cell-1 {min-height: 81px}
.u-section-1 .u-image-1 {width: 114px; position: relative; margin-top: 0}
.u-section-1 .u-layout-cell-2 {min-height: 81px}
.u-section-1 .u-image-2 {width: 114px; position: relative}
.u-section-1 .u-text-2 {font-size: 0.625rem}
.u-section-1 .u-layout-cell-3 {min-height: 81px}
.u-section-1 .u-image-3 {margin-top: 11px}
.u-section-1 .u-text-3 {width: 92px; margin-top: 3px; margin-left: auto; margin-right: auto}
.u-section-1 .u-layout-cell-4 {min-height: 81px}
.u-section-1 .u-image-4 {margin-top: 11px}
.u-section-1 .u-text-4 {width: 92px; margin-top: 3px; margin-right: 12px; margin-left: 12px}
.u-section-1 .u-layout-cell-5 {min-height: 81px}
.u-section-1 .u-image-5 {margin-top: 7px}
.u-section-1 .u-text-5 {width: 92px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 160px}
.u-section-1 .u-layout-wrap-1 {width: 300px; margin-top: 1px; margin-bottom: 1px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {width: 87px; margin-top: 21px}
.u-section-1 .u-text-1 {margin-top: 6px; margin-left: 7px; margin-right: 7px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-image-2 {width: 87px; margin-top: 19px}
.u-section-1 .u-text-2 {width: auto; margin-top: 8px; margin-right: 1px; margin-left: -1px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-image-3 {margin-top: 20px}
.u-section-1 .u-text-3 {width: auto; margin-top: 5px; margin-right: 2px; margin-left: 4px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-image-4 {margin-top: 20px}
.u-section-1 .u-text-4 {width: auto; margin-top: 4px; margin-right: 24px; margin-left: 32px}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-container-layout-5 {padding-top: 0; padding-bottom: 0}
.u-section-1 .u-image-5 {margin-top: 20px}
.u-section-1 .u-text-5 {width: auto; margin-top: 4px; margin-right: 25px; margin-left: 31px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 449px}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-image-1 {width: 82px}
.u-section-1 .u-text-1 {margin-left: 20px}
.u-section-1 .u-image-2 {width: 82px}
.u-section-1 .u-text-2 {width: 122px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-3 {margin-left: auto; margin-right: auto}
.u-section-1 .u-text-4 {margin-left: auto; margin-right: auto}
.u-section-1 .u-text-5 {margin-left: auto; margin-right: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 270px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {margin-top: 8px; margin-left: 0}
.u-section-1 .u-text-1 {font-size: 1rem; line-height: 1.6; margin-top: -30px; margin-right: 20px}
.u-section-1 .u-image-2 {margin-top: 6px; margin-left: 0}
.u-section-1 .u-text-2 {font-size: 1rem; line-height: 1.6; margin-top: -29px}
.u-section-1 .u-image-3 {margin-top: 5px; margin-left: 20px}
.u-section-1 .u-text-3 {font-size: 1rem; line-height: 1.6; margin-top: -31px; margin-right: 19px; margin-left: 21px}
.u-section-1 .u-image-4 {margin-top: 9px; margin-left: 20px}
.u-section-1 .u-text-4 {font-size: 1rem; line-height: 1.6; margin-top: -35px; margin-right: 19px; margin-left: 21px}
.u-section-1 .u-image-5 {margin-top: 8px; margin-left: 20px}
.u-section-1 .u-text-5 {font-size: 1rem; line-height: 1.6; margin-top: -30px; margin-right: 21px; margin-left: 19px} }
.u-section-2 {background-image: url("images/bigbackground.jpg"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 683px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 177px} }.u-section-3 .u-sheet-1 {min-height: 475px}
.u-section-3 .u-text-1 {width: 359px; margin: 53px auto 0}
.u-section-3 .u-text-2 {font-size: 1.875rem; margin: 17px auto 56px} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {width: 180px; height: 52px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 400px}
.u-section-5 .u-image-1 {min-height: 500px; background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 6366px}
.u-section-6 .u-image-1 {width: 751px; height: 6290px; object-position: 50% 0%; margin: 16px auto 60px} 

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 6106px}
.u-section-6 .u-image-1 {width: 720px; height: 6030px} }

@media (max-width: 767px){ .u-section-6 .u-image-1 {width: 540px; height: 4523px} }

@media (max-width: 575px){ .u-section-6 .u-image-1 {width: 340px; height: 2848px} }.imgtmp {
background-color: #dfd;
}