@media (max-width: 990px) {
    nav.u-menu {
        right: 0px;
        margin-right: 0px !important;
    }
    .u-custom-menu {
        display: none !Important;
    }
}

div.titlebar {
    margin-top: 0px !Important;
    padding-top: 0px !important;
    height: 80px;
}

img.article-image:hover {
    transition: transform .2s linear;
    -o-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -webkit-transition: transform .2s linear;
}

img.article-image:hover {
    transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.features-area>div:hover {
    transform: scale(1.05, 1.05);
    z-index: 9999;
}

div.partner-area {
    grid-gap: 17px 31.4px !important;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto !important;
}

.circles-area>div img {
    transition: transform .2s;
}

.circles-area>div:hover img {
    transform: scale(1.1);
}

.cross-text-image1 {
    margin-left: 100px !Important;
}

.circles-area>div:hover {
    opacity: 1;
    cursor: pointer;
}

.u-section-5 {
    margin-bottom: 80px !important;
}

.circle-text:hover {
    background: #0000;
}

div.gridimage11 {
    flex: none !Important;
    width: 45.8% !important;
}

div.gridimage21 {
    flex: none !Important;
    width: 54% !important;
    max-width: 54% !important;
}

.circles-area>div {
    border-radius: 50%;
    background-color: black;
}

a.selected-a-button {
    border: 2px solid #ff6500;
    background: #ff6500;
    margin-top: 20px;
    color: white;
    float: left;
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
}

a.unselected-a-button {
    padding: 5px 20px 5px 20px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid black;
    background: white;
    color: black;
}

div.image_cell_area {
    height: 300px !important;
}

div.image_cell_area img {
    height: 300px !important;
    width: 100% !important;
    max-height: 300px !important;
}

.features-area>div:hover {
    transition: transform 0.2s;
    cursor: pointer;
}

footer * {
    font-family: "Microsoft YaHei" !important;
}

body * {
    font-family: "Microsoft YaHei" !important;
}

section.titlesubmenu.narrow {
    top: 62px;
}

header *,
section.titlesubmenu {
    font-size: 16px !important;
    font-family: "Microsoft Yahei" !important;
    /*, "Helvetica Neue", Helvetica, "PingFang SC","Microsoft YaHei", 微软雅黑, "Hiragino Sans GB", Arial, sans-serif !important;*/
}

* {
    font-weight: 400 !important;
}

body {
    font-family: "Microsoft Yahei";
    /*, "Helvetica Neue", Helvetica, "PingFang SC","Microsoft YaHei", 微软雅黑, "Hiragino Sans GB", Arial, sans-serif !important;*/
}

.active1 {
    border-width: 0px !important;
    border-color: #ff6500 !important;
    color: #ff6500 !important;
}

.active-submenu {
    color: #ff6500 !important;
    filter: drop-shadow(1px 1px 1px #ff6500);
}

.titlesubmenu {
    width: 100% !important;
    top: 80px;
}

section.titlesubmenu p.u-text {
    font-size: 14px;
}

header {
    border-bottom: 1px solid #ddd;
}

header.narrow,
header.narrow div.titlebar {
    height: 62px;
    min-height: 62px;
}

header.narrow a.logo-image {
    margin-top: 0px;
}

.u-custom-menu {
    height: 100% !important;
    min-height: 0px !Important;
}

@media (min-width: 1500px) {
    .u-sheet {
        width: 1500px;
    }
}

div.image_cell_area {
    height: 300px !important;
}

.u-header .u-menu-1 {
    margin: 0px 250px 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

div.u-custom-menu.u-nav-container {
    height: 100%;
}

li.u-nav-item a.titlemainmenu {
    height: 100%;
    line-height: 80px;
    border-width: 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 110px;
    text-align: center;
}

li.u-nav-item a.titlemainmenu.active:after {
    content: '';
    width: 100%;
    height: 5px;
    background: #ff6500;
    position: absolute;
    bottom: -1px;
    left: 0px;
}

header.narrow li.u-nav-item a.titlemainmenu {
    line-height: 62px;
    font-family: "Microsoft Yahei" !important;
}

body *.element-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

body *.yahei {
    font-family: "Microsoft Yahei" !important;
}

headeronly {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

section.titlesubmenu {
    background: white !important;
}

section.titlesubmenu p.u-text {
    font-family: "Microsoft Yahei" !important;
}

header.narrow div.free-consultation {
    line-height: 62px;
}

div.free-consultation {
    line-height: 80px;
    font-family: "Roboto" !important;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 1000 !important;
    color: #000;
    opacity: 0.7;
    display: flex;
    display: -webkit-flex;
}