img.article-image {
    transition: transform .2s;
}
img.article-image:hover {
    transform: scale(1.1);
}
a.selected-a-button, a.unselected-a-button:hover {    
    border: 1px solid #EE7D25;
    background: #EE7D25;
    margin-top: 20px;
    color: white;
    text-decoration:none;
    float:left;
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    font-size: 14px; border-radius: 4px
}  
a.unselected-a-button {
    text-decoration:none;
    padding: 5px 20px 5px 20px;
    float:left;
    margin-top: 20px;
    font-size: 14px; border-radius: 4px;
    margin-right: 20px;
    border: 1px solid #c4c1c1;
    background: white;
    color: black;
    }
.u-section-3 .u-text-6 {
    margin: 13px 13px 0;
}
.image-cell {
    float:left;
    width: 30%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20px;
    overflow:hidden;
    min-width: 300px;
}

.grid-cell-container {grid-template-columns: 30% 30% 30%; grid-column-gap: 5%;}

@media (max-width: 1499px) { div.image_cell_area, div.image_cell_area img { height: 250px !important;} }
@media (max-width: 1299px) { div.image_cell_area, div.image_cell_area img { height: 230px !important;} }
@media (max-width: 991px) { div.image_cell_area, div.image_cell_area img { height: 200px !important;} }
@media (max-width: 850px) { .grid-cell-container {grid-template-columns: 46% 46%; grid-column-gap: 8%;} }
@media (max-width: 575px) { div.image_cell_area, div.image_cell_area img { height: 250px !important;} .grid-cell-container {grid-template-columns: 100%;} }
@media (max-width: 991px) { .grid-cell-container { margin-bottom: 20px !important;} }